.main {
  width: 100%;
  max-width: $max-width;
  transform: translateY(150vh);
  transition: 0.8s linear;
  position: relative;
  z-index: -10;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $second-color;
    transition: 0.5s;
    transition-delay: 0.8s;
  }
  .header {
    width: 100%;
    height: 94vh;
    background: url(../img/photo-1-small.jpg);
    background-position: 43% 45%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    z-index: -100;
    .header-content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      background-color: rgba(0, 0, 0, 0.35);
      .header-name-container {
        margin: 95px 40px;
        display: flex;
        flex-direction: column;
        line-height: 2rem;
        .header-name {
          color: #ddd;
          font-weight: 400;
          font-size: 2.1rem;
        }
        .header-title {
          font-size: 1.5rem;
          font-weight: 500;
          color: $second-color;
        }
      }

      .header-button {
        align-self: flex-start;
        padding: 15px 35px;
        background-color: $second-color;
        margin-bottom: 40px;
        margin-left: 40px;
        font-size: 1rem;
        text-transform: uppercase;
      }
    }
  }
}
.main.loaded {
  transform: translateY(0);
  z-index: -1;
}
.main.loaded::after {
  transform: translateY(-100%);
}
