.navigation {
  width: 100%;
  height: 50px;
  position: relative;
  z-index: 1;
  .mobile-navigation {
    width: 100%;
    height: 50px;
    position: fixed;
    .mobile-fixed {
      width: 100%;
      height: 50px;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      justify-content: space-between;
      background-color: white;
      .mobile-logo {
        display: block;
        height: 50px;
        z-index: 999;
      }
      .burger {
        width: 50px;
        height: 50px;
        margin-right: 10px;
        position: relative;
        transition: 0.3s;
        z-index: 100;

        .burger-btn {
          width: 25px;
          height: 1px;
          background-color: $font-color;
          position: absolute;
          transform: translate(-50%, -50%);
          top: 50%;
          left: 50%;
          z-index: 110;
          transition: 0.3s;
          &::before,
          &::after {
            content: "";
            position: absolute;
            top: 5px;
            height: 1px;
            width: 25px;
            background-color: #333;
            transition: 0.3s;
            opacity: 1;
          }
          &::after {
            top: -5px;
          }
        }
      }
      .burger.active .burger-btn {
        background-color: transparent;
      }
      .burger.active .burger-btn::before,
      .burger.active .burger-btn::after {
        transform: translateY(5px) rotate(45deg);
      }
      .burger.active .burger-btn::before {
        transform: translateY(-5px) rotate(-45deg);
      }
    }
  }
  .mobile-list {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-1000px);
    line-height: 3rem;
    background-color: white;
    transition: 0.5s;
    z-index: -1;
    .mobile-li {
      overflow: hidden;
      .mobile-link {
        transform: translateY(31px);
        opacity: 0;
        transition: 0.15s;
        transition-delay: 0.5s;
      }
    }
  }
  .mobile-list.active {
    transform: translateX(0);
    z-index: -1;
  }
  .mobile-list.active .mobile-li .mobile-link {
    transform: translateY(0);
    opacity: 1;
  }
}
