.products {
  width: 100%;
  max-width: $max-width;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  .product-title {
    align-self: flex-start;
    padding: 30px 0 0px 0;
    font-size: 1.5rem;
    font-weight: 800;
    color: $second-color;
  }
  .product-container {
    display: flex;
    flex-direction: column;
    .product-box {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 40px;
      padding: 20px;
      border-radius: 5px;
      box-shadow: inset 3px 3px 5px rgba(255, 255, 255, 0.05),
        inset -3px -3px 5px rgba(0, 0, 0, 0.08), 2px 2px 5px rgba(0, 0, 0, 0.1);
      .product-img {
        width: 40px;
        padding: 5px;
      }
      .product-text-container {
        margin-left: 40px;
        .product-name {
          color: $second-color;
          font-size: 1rem;
          font-weight: 500;
        }
        .product-description {
          margin-top: 5px;
          font-size: 0.9rem;
        }
      }
    }
  }
}
