* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  min-height: 150vh;
  font-family: "Poppins", sans-serif;
  color: $font-color;
}
a {
  display: block;
  color: $font-color;
  text-decoration: none;
}
ul {
  list-style: none;
}
button {
  display: block;
  background-color: transparent;
  border: none;
}
img {
  display: block;
}
label {
  display: flex;
  flex-direction: column;
}
.wrapper {
  width: 100%;
  margin: 0 auto;
  // max-width: $max-width;
  height: 100%;
  position: relative;
  z-index: 10;
  overflow: hidden;
}
