* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  min-height: 150vh;
  font-family: "Poppins", sans-serif;
  color: $font-color;
}
a {
  display: block;
  color: $font-color;
  text-decoration: none;
}
ul {
  list-style: none;
}
button {
  display: block;
  background-color: transparent;
  border: none;
}
.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
